<div class="header">
    <button mat-icon-button (click)="dialogRef.close();">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="container">
    <div class="img-container">
        <img src="../../assets/{{ item.ImagePath }}">
    </div>

    <div class="name">
        {{ item.Name }}
    </div>

    <div class="price">
        {{ item.Price | currency }}
    </div>

    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <div class="quantity">
        <button mat-stroked-button (click)="decreaseQuantity(item)">
            <mat-icon>remove</mat-icon>
        </button>
        <input [(ngModel)]="item.Quantity">
        <button mat-stroked-button (click)="increaseQuantity(item)">
            <mat-icon>add</mat-icon>
        </button>
        <button class="undo" mat-stroked-button (click)="reset()">
            <mat-icon>undo</mat-icon> Reset
        </button>
    </div>

    <div class="actions">
        <span><b>Total: </b></span><span>{{ item.Price * item.Quantity | currency }}</span>
        <button mat-raised-button (click)="addToCart()" color="primary">Add to Cart</button>
    </div>
</div>
