<div class="product-carousel">
    <div class="product-carousel-header">
        <span>{{ title }}</span>
        <div>
            <button mat-mini-fab (click)="subtractIndex()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab (click)="addIndex()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="product-carousel-content">
        <div class="product-mini-card" *ngFor="let item of displayedItems" (click)="openProductCard(item)">
            <img src="../../assets/{{ item.ImagePath }}">
            
            <div class="product-mini-card-name">
                {{ item.Name }}
            </div>
            <div class="product-mini-card-price">
                {{ item.Price | currency }}
            </div>
        </div>
    </div>
</div>
