:host {
  width: 100%;
}
.product-carousel {
  margin: 75px 0;
}
/* product-carousel-header */
.product-carousel-header {
  display: flex;
  justify-content: space-between;
  color: #7B1FA2;
  font-size: 24px;
  font-weight: bold;
}
.product-carousel-header > span {
  margin-top: 8px;
}
button.mat-mini-fab {
  height: 32px;
  width: 32px;
  line-height: 16px;
  font-size: 22px;
}
button.mat-mini-fab:first-child {
  margin-right: 8px;
}
/* product-carousel-content */
.product-carousel-content {
  display: flex;
  padding: 5px 0 10px 0;
}
.product-carousel-content .product-mini-card:first-child {
  margin-left: 0;
}
.product-carousel-content .product-mini-card:last-child {
  margin-right: 0;
}
/* .product-mini-card */
.product-mini-card {
  width: 100%;
  margin: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  animation: opacity 0.8s
}
@keyframes opacity {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
.product-mini-card:hover {
  border-color: #a774bc;
}
.product-mini-card > img {
  width: 100%;
  margin-top: 12px;
  max-width:100%;
  max-height:100%;
}
.product-mini-card-name {
  color: rebeccapurple;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.product-mini-card-price {
  margin-bottom: 12px;
  color: #444;
  font-size: 15px;
  text-align: center;
}
