<div class="product-carousel">
    <div class="product-carousel-header">
        <span style="margin-top: 8px;">
            {{ title }}
        </span>
        <span>
            <button mat-mini-fab style="margin-right: 8px;">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </span>
    </div>
    <div class="product-carousel-content">
        <product-card fileName="1.jpg" style="margin-left: 0;"></product-card>
        <product-card fileName="2.jpg"></product-card>
        <product-card fileName="3.jpg"></product-card>
        <product-card fileName="4.jpg"></product-card>
        <product-card fileName="5.jpg" style="margin-right: 0;"></product-card>
    </div>
</div>
