.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
/* page-header */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 30px;
}
.page-header-title {
  color: rebeccapurple;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
/* page-content */
.page-content {
  display: flex;
}
/* table */
.mat-card {
  flex-grow: 1;
  padding: 0;
  border-top: 1px solid #eee;
  box-shadow: 0 2px 4px 0 rgba(196, 196, 196, 0.5);
}
table {
  width: 100%;
  font-family: Karla, Arial, Helvetica, sans-serif;
}
.mat-cell, .mat-header-cell, .mat-footer-cell {
  font-size: 16px !important;
}
.mat-header-cell {
  color: #491a75;
  font-weight: bold;
}
.mat-icon {
  font-size: 20px;
}
img {
  margin: 10px 0;
  height: 100%;
  width: 100%;
  max-height: 75px;
  max-width: 100%;
}
input {
  width: 50px;
  height: 32px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  text-align: center;
}
.no-items {
  margin: 15px !important;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* cart-overview */
.cart-overview-wrapper {
  padding-left: 15px;
}
.cart-overview {
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px 0 rgba(196, 196, 196, 0.5);
  font-family: Karla, Arial, Helvetica, sans-serif;
}
.cart-overview > .button-container {
  margin-top: 25px;
  border-top: 1px solid #ddd;
}
.cart-overview > .button-container > button {
  width: 100%;
}
