<div class="offer-container">
    <!-- <img src="" /> -->
</div>

<div class="page-container">
    <div class="category-cards-header">
        Popular Collections
    </div>
    <div class="category-cards">
        <div class="category-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="info">
                10 products
            </div>
            <a [routerLink]="['/product-catalog', 'Soy Wax Candles']">Soy Wax Candles</a>
        </div>
        <div class="category-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="info">
                0 products
            </div>
            <a [routerLink]="['/product-catalog', 'Natural Soap']">Natural Soap</a>
        </div>
        <div class="category-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="info">
                0 products
            </div>
            <a [routerLink]="['/product-catalog', 'Bath Accessories']">Bath Accessories</a>
        </div>
        <div class="category-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="info">
                1 products
            </div>
            <a [routerLink]="['/product-catalog', 'Gift Sets']">Gift Sets</a>
        </div>
    </div>

    <div class="page-cards">
        <div class="page-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="title">
                About Us
            </div>
            <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <a>[ Read More ]</a>
        </div>
        <div class="page-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="title">
                FAQ
            </div>
            <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <a>[ Read More ]</a>
        </div>
        <div class="page-card">
            <div class="image">
                <!-- IMAGE -->
            </div>
            <div class="title">
                Category 3
            </div>
            <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <a>[ Read More ]</a>
        </div>
    </div>
</div>
