<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
    <div class="container flex-box">
        <div class="brand">
            <button mat-icon-button style="font-size: 30px;">
                <mat-icon>menu</mat-icon>
            </button>
            Candle Company
        </div>
        <div style="margin: auto 0;">
            <button mat-button (click)="isSearching=!isSearching">
                <mat-icon>search</mat-icon>
                <span>Search</span>
            </button>
            <button mat-button>
                <mat-icon>account_circle</mat-icon>
                <span>Sign In</span>
            </button>
            <button mat-button (click)="openDialog()">
                <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
                <span>Cart</span>
            </button>
        </div>
    </div>
</header>

<div class="search" [ngClass]="{ 'show-search': isSearching}">
    <div class="container">
        <input>
    </div>
</div>

<div class="page-content">
    <home-carousel></home-carousel>

    <div class="container">
        <product-carousel></product-carousel>
        <product-carousel></product-carousel>
    </div>
</div>



<footer>
    <div class="site-nav">
        <div class="container" style="margin-top: 5px;">
            <a href="#">Product Section 1</a>
            <a href="#">Product Section 2</a>
            <a href="#">Product Section 3</a>
            <a href="#">Product Section 4</a>
            <a href="#">Product Section 5</a>
        </div>
    </div>
    <div class="container flex-box" style="height: 30px;">
        <span>&copy;2018 Candle Company</span>
        <span>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
        </span>
    </div>
</footer>