:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}



/* header */
header {
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
              0 4px 5px    0 rgba(0, 0, 0, .14),
              0 1px 10px   0 rgba(0, 0, 0, .12);
  z-index: 100;
}
.header-brand {
  margin: auto 0;
  color: white;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}
.header-brand:active,
.header-brand:focus {
  outline: 0;
}
.header-buttons button {
  color: #fff;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}
.header-buttons button .mat-icon {
  margin: 0 10px;
}
.header-buttons button:hover {
  color: mediumorchid;
}
.header-buttons button:hover .mat-icon {
  color: mediumorchid;
}



/* page-content */
.page-content {
  width: 100%;
  flex: 1;
}



/* footer */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 9px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: mediumorchid;
}
.footer-bg {
  width: 100%;
  background-color: #555;
}
.site-nav {
  display: flex;
}
.site-map {
  flex-grow: 1;
}
.site-map a {
  display: table;
  margin: 10px 0;
  font-size: 14px;
}
.social-media {
  padding: 10px 40px;
  font-size: 14px;
}
.social-media i {
  margin: 5px 8px 0 0;
  font-size: 30px;
}
.contact-us {
  padding: 5px 0px 5px 50px;
  font-size: 14px;
}
.contact-us > div {
  display: flex;
  margin: 5px 0;
}
.contact-us > div > a {
  margin: 3px;
  text-decoration: underline;
}
.contact-us > div > span {
  padding: 3px 0 3px 3px;
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 12px;
}
.copyright-container a {
  margin-left: 15px;
}
