:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}




.page-container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  justify-content: space-between;
}
.mat-icon {
  margin: 0 10px;
  color: #fff;
  vertical-align: middle;
}
button {
  color: #fff;
}
/* header */
header {
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
              0 4px 5px    0 rgba(0, 0, 0, .14),
              0 1px 10px   0 rgba(0, 0, 0, .12);
  z-index: 100;
}
.brand {
  margin: auto 0;
  color: white;
  font-size: 24px;
}
.brand > button {
  font-size: 30px;
}
.brand > span {
  cursor: pointer;
}
.brand > span:active, .brand > span:focus {
  outline: 0;
}
/* page-content */
.page-content {
  width: 100%;
  flex: 1;
}
/* footer */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  font-size: 9px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #ff47c4;
}
.footer-bg {
  width: 100%;
  background-color: #555;
}
.site-nav {
  display: flex;
}
.site-map {
  flex-grow: 1;
}
.site-map a {
  display: table;
  margin: 10px 0;
  font-size: 14px;
}
.social-media {
  font-size: 30px;
}
.contact-us {
  padding: 5px 0px 5px 50px;
  font-size: 14px;
}
.contact-us > div {
  margin: 5px 0;
}
.contact-us > div:first-child {
  margin: 0 0 10px 12px;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}
.copyright-container a:first-child {
  margin-right: 15px;
}
