<div class="page-wrapper">
    <div>
        <!-- .page-header -->
        <div class="page-header">
            <div class="page-header-title">
                Product Catalog
            </div>
            <div class="sort-container">
                <div>
                    <label>Sort By:</label>
                </div>
                <div>
                    <select (change)="sortChanged($event.target.value)">
                        <option value="1">Most Popular</option>
                        <option value="2">Alphabetical (A-Z)</option>
                        <option value="3">Alphabetical (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /.page-header -->

        <!-- .products-filter-wrapper -->
        <div class="products-filter-wrapper">
            <!-- .products-filter -->
            <div class="products-filter">
                <div class="filter-group">
                    <div class="header">Search</div>
                    <div class="search">
                        <input [(ngModel)]="searchText" (keyup)="search()" type="text">
                        <span class="search-icon"></span>
                    </div>
                </div>
                <div class="filter-group">
                    <div class="header">Category</div>
                    <form [formGroup]="categoryFilterForm">
                        <mat-checkbox formControlName="category1" name="category1" (change)="checked('categoryFilter', '1', $event)">Soy Candles</mat-checkbox>
                        <mat-checkbox formControlName="category2" name="category2" (change)="checked('categoryFilter', '2', $event)">Natural Soap</mat-checkbox>
                        <mat-checkbox formControlName="category3" name="category3" (change)="checked('categoryFilter', '3', $event)">Bath Accessories</mat-checkbox>
                        <mat-checkbox formControlName="category4" name="category4" (change)="checked('categoryFilter', '4', $event)">Gift Sets</mat-checkbox>
                        <button (click)="resetFilter(categoryFilter)" type="reset">Reset Filter</button>
                    </form>
                </div>
                <div class="filter-group">
                    <div class="header">Price</div>
                    <form [formGroup]="priceFilterForm">
                        <mat-checkbox formControlName="price1" name="price1" (change)="checked('priceFilter', '1', $event)">Under $10</mat-checkbox>
                        <mat-checkbox formControlName="price2" name="price2" (change)="checked('priceFilter', '2', $event)">$10 - $20</mat-checkbox>
                        <mat-checkbox formControlName="price3" name="price3" (change)="checked('priceFilter', '3', $event)">$20+</mat-checkbox>
                        <button (click)="resetFilter(priceFilter)" type="reset">Reset Filter</button>
                    </form>
                </div>
            </div>
            <!-- ./products-filter -->
            <!-- .products-list -->
            <div class="products-list">
                <div class="product-card" *ngFor="let item of dataSource.connect() | async" (click)="openProductCard(item)">
                    <div class="product-image">
                        <div class="product-price">
                            {{ item.Price | currency }}
                        </div>
                        <img src="../../assets/{{ item.ImagePath }}">
                    </div>
                    <div class="product-name">
                        {{ item.Name }}
                    </div>
                    <div class="product-type">
                        {{ productCatalog.getProductType(item) }}
                    </div>
                    <!-- <div class="add-to-cart">
                        <button (click)="decreaseQuantity(item)">-</button>
                        <input [(ngModel)]="item.Quantity">
                        <button  (click)="increaseQuantity(item)">+</button>
                        <button (click)="decreaseQuantity(item)" style="border: 0;">Add</button>
                    </div> -->
                </div>
                <div class="no-items" *ngIf="!dataSource.filteredData.length">
                    Sorry, no items were found that match your search.
                </div>
            </div>
            <!-- /.products-list -->
        </div>
        <!-- /.products-filter-wrapper -->
    </div>

    <mat-paginator [pageSize]="12" [pageSizeOptions]="[12, 24, 48, 96]"></mat-paginator>
</div>
