.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
/* page-header */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 30px;
}
.page-header-title {
  color: rebeccapurple;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.page-header .sort-container {
  display: grid;
  margin-left: 30px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}
.page-header select {
  -webkit-appearance: none;
  padding-top: 4px;
  padding-right: 25px;
  border: 0;
  background: transparent;
  background-image: url('../../assets/select-ico.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  color: rebeccapurple;
  font-family: Karla, Quicksand, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.page-header select:active,
.page-header select:focus {
  outline: 0;
}
.page-header select > option {
  color: #333;
  cursor: pointer;
}
/* products-filter-wrapper */
.products-filter-wrapper {
  display: flex;
}
/* products-filter */
.products-filter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 30px;
}
.products-filter > .filter-group {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.products-filter > .filter-group > .header {
  margin-bottom: 10px;
  color: rebeccapurple;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.products-filter .search {
  position: relative;
}
.products-filter .search > input {
  width: 100%;
  padding: 7px;
  border: 1px solid #979797;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.products-filter .search > .search-icon {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 20px;
  width: 20px;
  background: url(../../assets/search-ico.svg) no-repeat;;
}
.products-filter form {
  display: flex;
  flex-direction: column;
}
.products-filter form > button {
  width: 70px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  background: transparent;
  color: rebeccapurple;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
}
.products-filter form > button:focus,
.products-filter form > button:active, {
  outline: 0;
  color: mediumorchid;
}
.products-filter form > .mat-checkbox {
  margin-bottom: 2px;
}
/* products-list */
.products-list {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 75%;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 540px;
  margin-bottom: 15px;
}
.products-list::after {
  content: "";
  flex: auto;
}
.products-list .no-items {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* .product-card */
.product-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* grow and shrink card in parent flex */
  height: 250px;
  width: 235px;
  max-width: 235px;
  margin: 0 5px 10px 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(196, 196, 196, 0.5);
  box-sizing: border-box;
}
.product-card:hover {
  border-color: rebeccapurple;
}
.product-image {
  height: 100%;
  background-color: #fafafa;
  overflow: hidden;
}
.product-image > img {
  height: 100%;
  width: 100%;
}
.product-name {
  padding-top: 5px;
  border-top: 1px solid #ddd;
  color: rebeccapurple;
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}
.product-type {
  padding-bottom: 5px;
  color: dimgray;
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
.product-price {
  position: absolute;
  margin: 6px;
  color: rebeccapurple;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.add-to-cart {
  padding: 5px;
  text-align: center;
}
.add-to-cart input {
  width: 30px;
}


.mat-paginator {
  margin: 25px 0 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}



@media screen and (max-width: 500px) {
  .product-header {
    flex-direction: column;
    padding-top: 5px;
  }
  .product-header-title {
    margin: 8px;
  }
  .filter-sort-container {
    margin-left: 10px;
    margin-right: 15px;
  }
  .filter-sort-group {
    justify-content: space-between;
  }
}
