//@import '~@angular/material/theming';
@import '../node_modules/@angular/material/_theming.scss';
@include mat-core();
$primary: mat-palette($mat-purple, 700);
$accent: mat-palette($mat-purple, 600);
$warn: mat-palette($mat-red, 800);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);



$primary-color: #663399;
$secondary-color: dimgray;
$tertiary-color: #663399;
$header-color: #444;
$bg-color: #f8f8f8;
$divider-color: #ddd;
$primary-font: Quicksand, Arial, Helvetica, sans-serif;
$secondary-font: Karla, Arial, Helvetica, sans-serif;
