<div class="page-content">
    <div class="offer-container">
        <!-- <img src="" /> -->
    </div>
    <div class="container categories-header">
        Categories
    </div>
    <div class="container flex-box">
        <div class="category-card" [routerLink]="['/product-catalog', 1]">
            <div class="category-card-image">
                <!-- <img src="../assets/Candle6.jpg"> -->
            </div>
            <div class="category-card-title">
                Soy Candles
            </div>
        </div>
        <div class="category-card" [routerLink]="['/product-catalog', 2]">
            <div class="category-card-image">
                <!-- <img src="../assets/Soap1.jpg"> -->
            </div>
            <div class="category-card-title">
                Natural Soap
            </div>
        </div>
        <div class="category-card" [routerLink]="['/product-catalog', 3]">
            <div class="category-card-image">
                <!-- <img src="../assets/Bath1.jpg"> -->
            </div>
            <div class="category-card-title">
                Bath Accessories
            </div>
        </div>
        <div class="category-card" [routerLink]="['/product-catalog', 4]">
            <div class="category-card-image">
                <!-- <img src="../assets/Gift1.jpg"> -->
            </div>
            <div class="category-card-title">
                Gift Sets
            </div>
        </div>
    </div>
    <div class="container">
        <product-carousel [title]="'Soy Wax Candles'" [items]="soyCandleItems"></product-carousel>
    </div>
</div>
